*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: url("hotelimage.jpeg") no-repeat center;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #8ec7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: auto;

}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #f2fbff, #8ec7ff);
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.navigations a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigations a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigations a:hover::after{
    transform: scaleX(1);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 550px;
    background: white;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #f2fbff;
    font-weight: 500;
}

.text-box{
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box hi{
    font-size: 92px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: deepskyblue;
}

.container .input{
    border: 0;
    outline: none;
    color: darkmagenta;
}

.search_wrap{
    width: 500px;
    margin: 30px auto;
}

.search_wrap .search_box{
    position: relative;
    width: 500px;
    height: 60px;
}
.search_wrap .search_box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}








